@{
    ViewData["Title"] = "Home Page";
}
<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="w3ls_banner_info">
			<h2 style="color:blue;">PLAKA CEZA SİSTEMİ</h2><br /><br />
			<h3 style="color:white;">
				Plaka Ceza Sistemi Modülü ile araçlarınızı kontrol etmek artık çok kolay!
				Araçlarınızı görüntüleyin, İhlallerinizi tespit edin, İtirazlada bulunun...
			</h3>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container">
		<div class="col-md-6 banner_bottom_left">
			<h3>Plaka Ceza Sistemi</h3><br />
			<p>
				Plaka Ceza Sistemi Modülü ile Araçlarınızı ile ilgili bilgilere ulaşıp 
				detayları görüntüleyebilir, Eğer ihlaleriniz mevcut ise ihlal bilgilerini görüntüleyip ilgili birimlere itirazlarda bulunabilirsiniz.
			</p>
			<div class="wthree_more wthree_more1">
				<a asp-area="" asp-controller="Login" asp-action="Index" class="button--wayra button--border-thick button--text-upper button--size-s">ÜYE GİRİŞİ</a>
				<br /><a asp-area="" asp-controller="Signup" asp-action="Index" class="button--wayra button--border-thick button--text-upper button--size-s">ÜYE OL</a>
			</div>
		</div>

		<!-- logine göre değişecek -->
		<div class="col-md-6 banner_bottom_right">
			<div class="wthree_banner_bottom_right_grids">
				<div class="col-md-6 banner_bottom_right_grid">
					<div class="view view-tenth">
						<div class="agile_text_box">
							<i class="fas fa-car-side"></i>
							<h3>Araçlarım</h3>
							<p></p>
						</div>
						<div class="mask">
							<img src="images/1.jpg" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
				<div class="col-md-6 banner_bottom_right_grid">
					<div class="view view-tenth">
						<div class="agile_text_box">
							<i class="fas fa-car-side"></i>
							<h3>İhlallerim</h3>
							<p></p>
						</div>
						<div class="mask">
							<img src="images/2.jpg" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="wthree_banner_bottom_right_grids">
				<div class="col-md-6 banner_bottom_right_grid">
					<div class="view view-tenth">
						<div class="agile_text_box">
							<i class="fas fa-car-side"></i>
							<h3>İtirazlarım</h3>
							<p></p>
						</div>
						<div class="mask">
							<img src="images/3.jpg" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
				<div class="col-md-6 banner_bottom_right_grid">
					<div class="view view-tenth">
						<div class="agile_text_box">
							<i class="fas fa-car-side"></i>
							<h3>İletişim</h3>
							<p></p>
						</div>
						<div class="mask">
							<img src="images/4.jpg" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- logine göre değişecek -->


		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- banner-bottom -->
<!-- //about -->
<!-- about-counter -->
<div class="about-counter">
	<div class="container">
		<div class="col-md-3 about_counter_left">
			<i class="fas fa-users" aria-hidden="true"></i>
			<p class="counter">147</p>
			<h3>Üye</h3>
		</div>
		<div class="col-md-3 about_counter_left">
			<i class="fas fa-car-side" aria-hidden="true"></i>
			<p class="counter">598</p>
			<h3>Araç</h3>
		</div>
		<div class="col-md-3 about_counter_left">
			<i class="fas fa-balance-scale-right" aria-hidden="true"></i>
			<p class="counter">8,983</p>
			<h3>İhlal</h3>
		</div>
		<div class="col-md-3 about_counter_left">
			<i class="far fa-file-alt" aria-hidden="true"></i>
			<p class="counter">25,894</p>
			<h3>İtiraz</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //about-counter -->
<!-- about-bottom -->
<div class="about-bottom">
	<div class="container">
		<div class="w3l_about_bottom_grids">
			<div class="col-md-6 w3l_about_bottom_grid_left">
				<h3>cupidatat non proident, sunt in culpa qui officia</h3>
				<p>
					Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui ratione voluptatem
					sequi nesciunt.
				</p>
				<ol>
					<li>dolores eos qui ratione</li>
					<li>aspernatur aut odit aut fugit</li>
					<li>ipsam voluptatem quia voluptas</li>
					<li>consequuntur magni dolores</li>
					<li>eos qui ratione voluptatem sequi</li>
				</ol>
			</div>
			<div class="col-md-6 w3l_about_bottom_grid_right">
				<div class='bar_group'>
					<div class='bar_group__bar thin elastic' label='max Imports And exports' value='230'></div>
					<div class='bar_group__bar thin elastic' label='free of charge' value='130'></div>
					<div class='bar_group__bar thin elastic' label='number of dealers' value='160'></div>
					<div class='bar_group__bar thin elastic' label='transportation' value='340'></div>
					<div class='bar_group__bar thin elastic' label='truck capacity' value='290'></div>
				</div>
				<script src="js/bars.js"></script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about-bottom -->
<div><br /><br /><br /><br /></div>