@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- login -->
<div class="login">
	<div class="container">
		<h6>Login</h6>
		<h3>
			Welcome to our Truckage. Please enter your
			<a asp-area="" asp-controller="Signup" asp-action="Index">
				Register
			</a> here.
		</h3>

		<form action="#" method="post">
			<input type="text" name="Name" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}">
			<input type="password" name="Password" class="lock" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
			<div class="remember">
				<div class="w3agile_checkbox1">
					<label class="checkbox"><input type="checkbox" name="Checkbox" checked=""><i> </i>Remember me</label>
				</div>
				<div class="w3agile_forgot">
					<h4><a href="#">Forgot Password?</a></h4>
				</div>
				<div class="clearfix"> </div>
			</div>
			<input type="submit" value="Login">
		</form>
		<div class="agileits_social">
			<h5>Login with your <a href="#">Facebook</a> or <a href="#">Twitter</a></h5>
			<a href="#" class="face">Facebook</a>
			<a href="#" class="twitt">Twitter</a>
			<div class="clearfix"> </div>
		</div>
		<div class="agile_back_home">
			<a href="index.html">back to home</a>
		</div>
	</div>
</div>
<!-- //login -->