@model LicensePlateCrimeWebApp.Models.LoginModel

@{
	ViewData["Title"] = "Giriş Yap";
}
<!-- sign-up -->
<div class="login">
	<div class="container">
		<h6>GİRİŞ YAP!</h6>
		<h3>Plaka Ceza Sistemi'ne Hoşgeldiniz.</h3>
		<form asp-action="Login" method="post">
			<!-- validation error message -->
			<div asp-validation-summary="All" class="text-danger"></div>
			<!-- /validation error message -->
			<table style="width:100%">
				<tr>
					<td style="width:20%">Mail</td>
					<td style="width:1%">:</td>
					<td style="width:4%"></td>
					<td style="width:70%">
						<input type="email" asp-for="Email" minlength="10" placeholder="username@gmail.com">
						<span asp-validation-for="Email" class="text-danger"></span>
					</td>
				</tr>
				<tr>
					<td>Şifre</td>
					<td>:</td>
					<td style="width:4%"></td>
					<td>
						<input type="password" asp-for="Password" class="lock" minlength="3">
						<span asp-validation-for="Password" class="text-danger"></span>
					</td>
				</tr>
			</table>
			<div style="text-align:center" class="remember">
				<input style="border-radius:15px;width:200px;" type="submit" value="Giriş Yap !">
				<br /><br />
				<h3>Üye değil misiniz? &emsp;<a style="text-align:center" asp-controller="Signup" asp-action="Index">Kayıt Ol!</a></h3>
			</div>
		</form>
	</div>
</div>
<div><br /><br /><br /><br /></div>
<!-- //sign-up -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}