@model LicensePlateCrimeWebApp.Models.LoginModel

@{
	ViewData["Title"] = "Giriş Yap";
}
<!-- sign-up -->
<div class="login">
	<div class="container">
		<h6>GİRİŞ YAP!</h6>
		<h3>Plaka Ceza Sistemi'ne Hoşgeldiniz.</h3>
		<form asp-action="Login" method="post" novalidate>
			<!-- validation error message -->
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!-- /validation error message -->
			
			<label>E-Mail :</label>
			<input asp-for="Email" placeholder="username@gmail.com">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br /><br />
			<label>Şifre :</label>
			<input type="password" asp-for="Password" class="lock" placeholder="******">
			<span asp-validation-for="Password" class="text-danger"></span>
			
			<div style="text-align:center" class="remember">
				<input style="border-radius:15px;width:200px;" type="submit" value="Giriş Yap !">
				<br /><br />
				<h3>Üye değil misiniz? &emsp;<a style="text-align:center" asp-controller="Signup" asp-action="Index">Kayıt Ol!</a></h3>
			</div>
		</form>
	</div>
</div>
<div><br /><br /><br /><br /></div>
<!-- //sign-up -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}