@model LicensePlateCrimeWebApp.Models.LoginModel

@{
	ViewData["Title"] = "Kayıt Ol";
}
<!-- sign-up -->
<div class="login">
	<div class="container">
		<h6>Kayıt Ol!</h6>
		<h3>Plaka Ceza Sistemi'ne Hoşgeldiniz.</h3> 
		<form asp-action="Registration" method="post" novalidate>
			<!-- validation error message -->
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!-- /validation error message -->
			<label>E-Mail :</label>
			<input asp-for="Email" placeholder="username@gmail.com">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br /><br />
			<label>Şifre :</label>
			<input type="password" asp-for="Password" class="lock" placeholder="******">
			<span asp-validation-for="Password" class="text-danger"></span>


			<div style="text-align:center" class="remember">
				<label class="checkbox"><input type="checkbox" name="Checkbox" checked=""><i> </i><a asp-area="" asp-controller="Home" asp-action="Privacy">Üyelik şartlarını</a> kabul ettiğinizi onaylıyorsunuz.</label>
				<br /><br /><input style="border-radius:15px;width:200px;" type="submit" value="Kayıt Ol">
				<br /><br />
				<h3>Zaten bir hesabınız var mı? &emsp;<a style="text-align:center" asp-controller="Login" asp-action="Index">Giriş Yap!</a></h3>
			</div>

		</form>
	</div>
</div>
<div><br /><br /><br /><br /></div>
<!-- //sign-up -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}