@model LicensePlateCrimeWebApp.Models.LoginModel

@{
	ViewData["Title"] = "Registration";
}
<!-- sign-up -->
<div class="login">
	<div class="container">
		<h6>Sign Up</h6>
		<h3>Welcome to our Truckage. If you have an account <a asp-area="" asp-controller="Login" asp-action="Index">Login</a> here </h3>

		<form asp-action="Registration" method="post">
			<!-- validation error message -->
			<div asp-validation-summary="All" class="text-danger"></div>
			<!-- /validation error message -->

			<input type="email" asp-for="Email">
			<span asp-validation-for="Email" class="text-danger"></span>
			<input type="password" asp-for="Password" class="lock">
			<span asp-validation-for="Password" class="text-danger"></span>

			<div class="remember">
				<label class="checkbox"><input type="checkbox" name="Checkbox" checked=""><i> </i>I Accept Terms</label>
			</div>
			<input type="submit" value="Sign Up">
		</form>
		<div>
			<a asp-action="Login">Already have an account?Sign In</a>
		</div>
@*		<div class="agile_back_home">
			<a href="index.html">back to home</a>
		</div>*@
	</div>
</div>
<!-- //sign-up -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}