@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	var title = @localizer["Hata"];
	ViewData["Title"] = title;
}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">

	<!-- Font Awesome Icon -->
	<link type="text/css" rel="stylesheet" href="~/colorlib-error-404-15/css/font-awesome.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/colorlib-error-404-15/css/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>@localizer["Page Not Found"]</h2>
			<p>@localizer["The name of the page you are looking for may have been changed or temporarily removed."]</p>
			<a asp-area="" asp-controller="Home" asp-action="Index">@localizer["ANASAYFA"]</a>
		</div>
	</div>

</body>

</html>
