@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">İHLALLER</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
            </div>
            <div class="table-data__tool-right">
                <a asp-controller="Admin" asp-action="AddViolation" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>İhlal Ekle
                </a>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th style="width:10%">MODEL</th>
                        <th style="width:15%">PLAKA</th>
                        <th style="width:20%">İHLAL TİPİ</th>
                        <th style="width:25%">AÇIKLAMA</th>
                        <th style="width:10%">KAYIT TARİHİ</th>
                        <th style="width:10%">GÜNCELLEME TARİHİ</th>
                        <th style="text-align:center; width:10%">İŞLEMLER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow">
                        <td>Seat Arona</td>
                        <td>77 AB 077</td>
                        <td>MTV borcu bulunmaktadır</td>
                        <td>MTV 2021/2.Dönem borcu : 878 TL</td>
                        <td>21.03.2023</td>
                        <td>23.05.2023</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Güncelle">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
